@model Management_system.Models.Novedad

@{
    ViewData["Title"] = "Crear Novedad";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .fixed-width-btn {
        width: 60px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 180px;
    }


    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                                border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }



    .table {
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }

        .table th {
            /* background-color: #343a40;
                        color: #ffffff; */
            text-align: center;
            font-weight: 600;
            vertical-align: middle;
            font-size: 1rem;
        }

        .table td {
            text-align: center;
            vertical-align: middle;
            font-size: 0.95rem;
            color: #495057;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }

</style>

<div class="container">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-center title-menu">Creación Novedad General</p>

                    <hr />

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdUsuario" class="control-label card-header-title">Usuario</label>
                                    <select asp-for="IdUsuario" class="form-control lead-content" asp-items="ViewBag.IdUsuario" required></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="FechaSalida" class="control-label card-header-title">Fecha de Salida</label>
                                    <input asp-for="FechaSalida" class="form-control lead-content" type="date" required />
                                    <span asp-validation-for="FechaSalida" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="TipoNovedad" class="control-label card-header-title">Tipo de Novedad</label>
                                    <select asp-for="TipoNovedad" class="form-control lead-content" required>
                                        <option value="" class="lead-content">Seleccionar Novedad</option>
                                        <option value="RECOGER" class="lead-content">RECOGER</option>
                                        <option value="ENTREGAR" class="lead-content">ENTREGAR</option>
                                    </select>
                                    <span asp-validation-for="TipoNovedad" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Empresa" class="control-label card-header-title">Empresa</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-building"></i>
                                        </span>
                                        <input asp-for="Empresa" class="form-control lead-content"
                                               placeholder="Ingresa nombre empresa" required />
                                    </div>
                                    
                                    <span asp-validation-for="Empresa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Direccion" class="control-label card-header-title">Dirección</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </span>
                                        <input asp-for="Direccion" class="form-control lead-content"
                                               placeholder="Ingresa dirección de destino" required />
                                    </div>
                                    
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="CiudadBarrio" class="control-label card-header-title">Ciudad / Barrio</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-city"></i>
                                        </span>
                                        <input asp-for="CiudadBarrio" class="form-control lead-content"
                                               placeholder="Ingresa ciudad o barrio" required />
                                    </div>
                                    
                                    <span asp-validation-for="CiudadBarrio" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Contacto" class="control-label card-header-title">Contacto</label>
                                    
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <input asp-for="Contacto" class="form-control lead-content"
                                               placeholder="Ingresa persona de contacto" required />
                                    </div>

                                    <span asp-validation-for="Contacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Telefono" class="control-label card-header-title">Telefono</label>

                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-alt"></i>
                                        </span>
                                        <input asp-for="Telefono" class="form-control lead-content"
                                               placeholder="Ingresa numero telefónico" required />
                                    </div>
                                    
                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Observaciones" class="control-label card-header-title"></label>
                                    <textarea asp-for="Observaciones" class="form-control lead-content" rows="2" cols="50" required></textarea>
                                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        @* <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label card-header-title">Estado de la novedad</label>
                                    <select asp-for="Estado" class="form-control lead-content" required>
                                        <option value="" class="lead-content">Seleccionar Estado</option>
                                        <option value="Abierta" class="lead-content">Abierta</option>
                                        <option value="Urgente" class="lead-content">Urgente</option>
                                    </select>
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </div>
                        </div> *@

                        <div class="form-group mt-2 text-center">
                            <input type="submit" value="Crear Novedad" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
