@{
    ViewData["Title"] = "Política de Privacidad";
}
<style>
    .container_privacy {
        margin: 20px auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 60px; /* Espacio para el pie de página */
    }

    /*     h1, h5 {
                color: #333;
            }

            strong {
                font-weight: bold;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 10px;
            } */

</style>

<div class="container_privacy">
    <h1>@ViewData["Title"]</h1>

    <p><strong>Última actualización:</strong> 01/04/2024</p>
    <p>Esta Política de Privacidad describe cómo Universal de Cauchos Hurtado SAS ("nosotros", "nuestro", "nos") recopila, utiliza y protege la información personal de los usuarios ("usuarios" o "usted") de nuestra aplicación web de gestión.</p>

    <h5>Información que Recopilamos</h5>
    <ul>
        <li><strong>Información de Registro:</strong> Cuando se registra el personal en nuestra aplicación, recopilamos nombre, dirección de correo electrónico y otra información relevante.</li>
    </ul>

    <h5>Cómo Utilizamos la Información</h5>
    <ul>
        <li><strong>Mejora de la Experiencia del Usuario:</strong> Utilizamos la información recopilada para personalizar su experiencia en nuestra aplicación y para mejorar nuestros productos y servicios.</li>
        <li><strong>Análisis y Seguimiento:</strong> Utilizamos la información para el análisis y seguimiento de los procesos relacionados con las áreas correspondientes.</li>
    </ul>

    <h5>Para Mejora de Procesos</h5>
    <ul>
        <li><strong>Mejora de Procesos:</strong> Nuestra aplicación tiene como objetivo mejorar los procesos existentes para agilizar las operaciones.</li>
    </ul>

    <h5>Tus Derechos</h5>
    <ul>
        <li><strong>Acceso, Rectificación y inhabilitación de Datos:</strong> Tiene derecho a solicitar, corregir y/o inhabilitar sus datos personales en nuestra aplicación. Además, puedes solicitar el manejo adecuado de los datos relacionados con su proceso.</li>
    </ul>

    <h5>Seguridad de los Datos</h5>
    <p>Implementamos medidas de seguridad para proteger la información personal que recopilamos y mantenemos.</p>

    <h5>Cambios en esta Política de Privacidad</h5>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Notificaremos cualquier cambio mediante la publicación de la Política de Privacidad actualizada en nuestra aplicación.</p>

    <h5>Cómo Contactarnos</h5>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, por favor contáctanos a [correo electrónico de contacto].</p>
</div>

@* NAVIDAD TEMA *@
<div>
    @* <style>
    .snowflake {
    color: #87CEEB;
    font-family: sans-serif;
    font-size: 1.5em;
    position: fixed;
    top: -2em;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
    }

    @@keyframes fall {
    0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    }

    100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.2;
    }
    }
    </style>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
    const snowflakeCount = 50;

    for (let i = 0; i < snowflakeCount; i++) {
    let snowflake = document.createElement("div");
    snowflake.className = "snowflake";
    snowflake.innerHTML = "❄";

    snowflake.style.left = Math.random() * 100 + "vw";
    snowflake.style.animationDuration = Math.random() * 5 + 5 + "s";
    snowflake.style.fontSize = Math.random() * 10 + 10 + "px";

    document.body.appendChild(snowflake);
    }
    });
    </script> *@
</div>