@model Management_system.Models.Rol

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<h1>Create</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Crear Rol</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre del Rol</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}