@model Management_system.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .fixed-width-btn {
        width: 80px;
    }

    .alert-custom {
        color: red;
        font-size: 1.2em;
        display: none;
        margin-top: 10px;
    }

    .card {
        border-radius: 15px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
    }

    input[type="submit"] {
        width: 150px;
    }


    .title-main {
        font-size: 1.6em;
        color: #333;
    }

    .title-menu {
        font-size: 1.4em;
        color: #333;
    }

    .card-header-title {
        font-size: 1.1em;
        color: #333;
    }

    .lead {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .lead-content {
        font-size: 1.0rem;
        font-weight: 300;
    }

    .btn {
        /* background-color: #007bff;
                        border-color: #007bff; */
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

</style>


<div class="container">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-center title-menu">Creación Usuario</p>

                    <hr />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Creacion" class="control-label card-header-title">Fecha de Creación</label>
                                    <input asp-for="Creacion" class="form-control lead-content" type="text" readonly value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                                    <span asp-validation-for="Creacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Identificacion" class="control-label card-header-title">Identificación</label>
                                    <input asp-for="Identificacion" class="form-control lead-content" />
                                    <span asp-validation-for="Identificacion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label card-header-title">Nombre Completo</label>
                                    <input asp-for="Nombre" class="form-control lead-content" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label card-header-title">Email</label>
                                    <input asp-for="Email" class="form-control lead-content" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label card-header-title">Nombre de Usuario</label>
                                    <input asp-for="Username" class="form-control lead-content" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Contraseña" class="control-label card-header-title">Contraseña</label>
                                    <input asp-for="Contraseña" class="form-control lead-content" type="password" />
                                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdEmpresa" class="control-label card-header-title">Empresa</label>
                                    <select asp-for="IdEmpresa" class="form-control lead-content" asp-items="ViewBag.IdEmpresa" required></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdArea" class="control-label card-header-title">Área</label>
                                    <select asp-for="IdArea" class="form-control lead-content" asp-items="ViewBag.IdArea" required></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IdRol" class="control-label card-header-title">Rol</label>
                                    <select asp-for="IdRol" class="form-control" asp-items="ViewBag.IdRol" required></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label card-header-title">Estado</label>
                                    <select asp-for="Estado" class="form-control lead-content">
                                        <option value="Activo">Activo</option>
                                    </select>
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn btn-primary">Crear Usuario</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
